<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'accounts/css/base.css' %}">

        <link rel="shortcut icon" href="{% static 'accounts/images/favicon.ico' %}" />

        <link href="https://fonts.googleapis.com/css?family=Bitter|Courgette&display=swap" rel="stylesheet">

        {% block head %}

        {% endblock %}

        <style>

            body{
                background: url("{% static 'accounts/images/wp-fin2.jpg' %}");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                height:100%;
            }
    
        </style>
    </head>

    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="{% url 'index' %}"><strong>Dashboard</strong></a>
                </div>                    

                <div class="collapse navbar-collapse" id="bs-nav-demo" style="text-align: center;background: #f8f8f8;"> 
                    <ul class="nav navbar-nav">
                        <li><a href="#">Contact</a></li>
                        <li><a href="{% url 'dash:home' %}">Explore Dashboard</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right"> 
                        {% if user.is_authenticated %}
                            <li><a style="color:#4b4b4b;">Logged in as <span style="color: red;">{{ user.username }}</span></a></li>
                            <li><a class="navbar-link" href="{% url 'accounts:logout' %}"><i class="fa fa-sign-out"></i> Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:login' %}"><i class="fa fa-user"></i> Login</a></li>
                            <li><a href="{% url 'accounts:register' %}"><i class="fa fa-user-plus"></i> Sign Up</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}

        {% endblock %}

        <footer class="text-center font-small footer navbar-fixed-bottom">
            <br/>
            <div class="footer-copyright text-center py-3">© 2020 Copyright :
                <a href="#"><strong> Dashboard </strong></a>
                <br><br>
            </div>
        </footer>
        
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>