{% extends 'accounts/base.html' %}
{% load static %}

{% block head %}
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'accounts/css/index.css' %}">

    <style>

        body{
            background: url("{% static 'accounts/images/wp2.jpg' %}");
            background-position: cover; 

        }

    </style>
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="content">
                    <h1>Dashboard</h1>
                    <hr>
                    <a href="{% url 'dash:home'%}"><button class="btn btn-default btn-lg"><i class="fa fa-pie-chart"></i> Get Started!</button></a>
                </div>
            </div>
        </div>
    </div>


    <footer class="text-center font-small footer">
        <br/>
        <div class="footer-copyright text-center py-3">© 2020 Copyright :
            <a href="#"><strong> Dashboard </strong></a>
            <br><br>
        </div>
    </footer>

{% endblock %}