{% extends 'dash/base.html' %}
{% load static %}

{% block head %}
    <title>Dashboard| Home</title>
    <link rel="stylesheet" href="{% static 'dash/css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}

    <br><br><br><br><br><br>

    <div class="container-fluid">
        <div class="row content">
            {% for col in row1 %}
                <div class="col-sm-3 shadow">
                    <div class="well">
                        <h4><i class='{{ col.icon_class }}' aria-hidden="true"></i>  {{ col.header }}</h4>
                        <hr>
                        <h5>{{ col.body }}</h5>
                    </div>
                </div>
            {% endfor %}
        </div>

        <hr>
        
        <div class="row content">
            <div class="col-sm-8 shadow" >
                <div class="well" style="height:370px">
                    <h4><i class="fa fa-line-chart" aria-hidden="true"></i> Product Sales
                        <select class="form-control drpdwn" name="yearpicker" id="yearpicker">
                        
                        </select>
                    </h4>
                    <hr>
                    
                    <div class="holder" id="updatableChart">
                        <canvas id="myLineChart" style="margin: 5px;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 shadow" >
                <div class="well" style="height:370px">
                    <h4><i class="fa fa-bar-chart" aria-hidden="true"></i> Items Distribution</h4>
                    <hr>
                    <div class="holder">
                        <canvas id="myBarChart" style="margin: 5px;"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <hr>
        
        <div class="row content">
            
            <div class="col-sm-4 shadow" >
                <div class="well" style="height:350px">
                    <h4><i class="fa fa-pie-chart" aria-hidden="true"></i> Items Distribution</h4>
                    <hr>
                    <div class="holder">
                        <canvas id="myDoughnutChart2" style="margin: 5px;"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 shadow" >
                <div class="well" style="height:350px">
                    <h4><i class="fa fa-pie-chart" aria-hidden="true"></i> Vendor Distribution</h4>
                    <hr>
                    <div class="holder">
                        <canvas id="myPieChart" style="margin: 5px;"></canvas>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 shadow" >
                <div class="well" style="height:350px">
                    <h4><i class="fa fa-pie-chart" aria-hidden="true"></i> Unit wise Sales</h4>
                    <hr>
                    <div class="holder">
                        <canvas id="myDoughnutChart" style="margin: 5px;"></canvas>
                    </div>
                </div>
            </div>
            
        </div>

    </div>    
    
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <script src="{% static 'dash/js/home.js' %}" type="text/javascript"></script>

    <script>

        $(document).ready(function(){
            $("#yearpicker").change(function(){
                // console.log("Changed!")
                resetCanvas();
                var year = $("#yearpicker option:selected").text()
                // console.log(year)
                $.ajax({
                    url: '{% url "dash:yearWiseSale" %}',
                    type: 'GET',
                    data: {
                        year: year
                    },
                    dataType: 'json',
                    success: function (response) {
                        var yws_labels = response['yws_labels'];
                        var yws_values = response['yws_values'];
                        var pyws_labels = response['pyws_labels'];
                        var pyws_values = response['pyws_values'];
                        YWS(yws_labels,yws_values,pyws_labels,pyws_values,year); // YearWiseSales
                    }
                });

            });
        });
  

        $.ajax({
            url: '{% url "dash:itemSales" %}',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var bar_labels = response['bar_labels'];
                var bar_values = response['bar_values'];
                IS(bar_labels,bar_values); // ItemSales

            }
        });
  

        var curDate = new Date();
        var curYear = curDate.getFullYear();
        // console.log(curYear);

        // Ajax call to fetch linechart details
        $.ajax({
            url: '{% url "dash:yearWiseSale" %}',
            type: 'GET',
            data: {
                year: curYear
            },
            dataType: 'json',
            success: function (response) {
                var yws_labels = response['yws_labels'];
                var yws_values = response['yws_values'];
                var pyws_labels = response['pyws_labels'];
                var pyws_values = response['pyws_values'];
                YWS(yws_labels,yws_values,pyws_labels,pyws_values,curYear);

            }
        });


        // Ajax call to fetch doughnut and pie details
        $.ajax({
            url: '{% url "dash:doughnutPieChart" %}',
            type: 'GET',
            dataType: 'json',
            success: function (response) {
                var dc_labels = response['doughnut_labels_keys'];
                var dc_values = response['doughnut_values'];
                var pc_labels = response['pie_labels'];
                var pc_values = response['pie_values'];
                var dpc2_labels = response['dpc2_labels'];
                var dpc2_values = response['dpc2_values'];

                DPC(dc_labels,dc_values,pc_labels,pc_values,dpc2_labels,dpc2_values);
            }
        });

    </script>
{% endblock %}
